data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/**/*.pkl
models/**/*.joblib
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
mlruns/
